/*
  Ctrl+Alt+Shift+I
*/

@charset "UTF-8";
@-moz-document url(chrome://browser/content/browser.xhtml) {
/*この下にCSSを書いてください*/
  :root {
    --tab-min-height: 24px !important;
    --tab-block-margin: 1px !important;
    --urlbar-min-height: 24px !important; 
    --toolbarbutton-inner-padding: 2px !important;
  }
  :root[tabsintitlebar][sizemode="normal"] #titlebar,
  :root[tabsintitlebar][sizemode="maximized"] #titlebar {
    appearance: none !important;
  }

  .tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"]) {
    max-width: none !important;
  }

  .tabbrowser-tab {
    min-height: auto !important;
  }

  .tab-close-button {
    width: calc(var(--tab-min-height) - 2 * var(--tab-block-margin)) !important;
    height: calc(var(--tab-min-height) - 2 * var(--tab-block-margin)) !important;
    padding: var(--toolbarbutton-inner-padding) !important;
  }

  #TabsToolbar {
    --toolbarbutton-inner-padding: calc((var(--tab-min-height) - 16px) / 2 - var(--tab-block-margin)) !important;
  }

  #urlbar-container {
    --urlbar-container-height: var(--urlbar-min-height) !important;
  }

  #urlbar {
    --urlbar-height: var(--urlbar-min-height) !important;
    --urlbar-toolbar-height: var(--urlbar-height) !important;
    --urlbar-icon-padding: 2px !important;
  }

  .titlebar-spacer {
    max-height: var(--tab-min-height);
  }

  @media (-moz-windows-compositor) {
    @media not (-moz-platform: windows-win7) {
      @media not (-moz-platform: windows-win8) {
        .titlebar-button {
          padding: calc(var(--tab-min-height) / 8) calc(var(--tab-min-height) / 2) !important;
        }
      }
    }
  }

  .urlbar-page-action, #urlbar-go-button, .search-go-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* sidebar */
  #sidebar {
    min-width: 90px !important;
  }
}
