/* urlbar で 打ち込んで表示されるもののみ */

@charset "UTF-8";
@-moz-document
url-prefix("about:newtab"),
url-prefix("about:home"),
url-prefix("chrome://browser/content/blanktab.html") {
  html {
    height: 100%;
  }

  body {
    background-position: center;
    background-size: cover;
    background-image: url("./image/wallpaper.png");
  }

  .personalize-button,
  .customize-menu,
  .search-wrapper .search-handoff-button,
  .search-wrapper input {
    background-color: color-mix(in srgb, transparent 35%, var(--newtab-background-color-secondary)) !important;
    border: 1px solid var(--newtab-background-color-secondary) !important;
  }
}
