/*
  Ctrl+Alt+Shift+I
*/

@charset "UTF-8";
@-moz-document url(chrome://browser/content/browser.xhtml) {
/*この下にCSSを書いてください*/
  :root {
    --tab-min-height: 24px !important;
    --tab-block-margin: 1px !important;
    --urlbar-min-height: 24px !important; 
    --toolbarbutton-inner-padding: 2px !important;
    --inline-tab-padding: 2px !important;
    --bookmark-block-padding: 0px !important;
    --wide-tab-width: 24px !important;
    --sidepanel-icon-height-width: 26px;
    --toolbar-start-end-padding: 2px !important;
  }

  :root[tabsintitlebar][sizemode="normal"] #titlebar,
  :root[tabsintitlebar][sizemode="maximized"] #titlebar {
    appearance: none !important;
  }

  :root:not([uidensity]) #TabsToolbar {
    --tab-min-height: 24px !important;
  }

  .tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"]) {
    max-width: none !important;
  }

  .tabbrowser-tab {
    min-height: auto !important;
  }

  .tab-close-button {
    width: calc(var(--tab-min-height) - 2 * var(--tab-block-margin)) !important;
    height: calc(var(--tab-min-height) - 2 * var(--tab-block-margin)) !important;
    padding: var(--toolbarbutton-inner-padding) !important;
  }

  #TabsToolbar {
    --toolbarbutton-inner-padding: calc(var(--tab-min-height) / 6 - var(--tab-block-margin)) !important;
  }

  #tabs-newtab-button > .toolbarbutton-icon {
    margin-left: 0px !important;
    --toolbarbutton-inner-padding: calc(var(--tab-min-height) / 6 - var(--tab-block-margin)) !important;
  }

  toolbar .toolbarbutton-1 > .toolbarbutton-icon {
    width: calc(var(--tab-min-height) - 2 * var(--tab-block-margin)) !important;
    height: calc(var(--tab-min-height) - 2 * var(--tab-block-margin)) !important;
  }

  #toolbar-menubar[autohide="true"] > .titlebar-buttonbox-container, #TabsToolbar > .titlebar-buttonbox-container {
    height: var(--tab-min-height) !important;
  }

  .titlebar-spacer[type="pre-tabs"],
  .titlebar-spacer[type="post-tabs"] {
    width: var(--tab-min-height) !important;
  }

  #urlbar-container {
    --urlbar-container-height: var(--urlbar-min-height) !important;
  }

  #urlbar {
    --urlbar-height: var(--urlbar-min-height) !important;
    --urlbar-toolbar-height: var(--urlbar-height) !important;
    --urlbar-icon-padding: 2px !important;
  }

  .titlebar-spacer {
    max-height: var(--tab-min-height);
  }

  @media (-moz-windows-compositor) {
    @media not (-moz-platform: windows-win7) {
      @media not (-moz-platform: windows-win8) {
        .titlebar-button {
          padding: calc(var(--tab-min-height) / 8) calc(var(--tab-min-height) / 2) !important;
        }
      }
    }
  }

  .urlbar-page-action, #urlbar-go-button, .search-go-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* sidebar */
  #sidebar {
    min-width: 24px !important;
  }

  #sidebar-throbber, #sidebar-header > spacer, #sidebar-close, #sidebar-title, #sidebar-switcher-arrow {
    display:none;
  }

  #sidebar-header {
    padding: 0px !important;
  }

  #sidebar-box[sidebarcommand$="-sidebar-action"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
    width: 22px !important;
    height: 22px !important;
  }

  #sidebar-switcher-target {
    margin-inline-end: 0px !important;
    padding: 0px 0px !important;
    border: 0px solid transparent !important;
    height: 22px;
  }

  /* #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    transition: none !important;
    min-width: 75px !important;
    max-width: 75px !important;
  }

  #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
    transition: none !important;
    transition-delay: 0s !important;
    min-width: 20em !important;
    max-width: 20em !important;
    margin: 0px !important;
  } */

  /* bookmark */
  #PersonalToolbar {
    padding-inline: 0px !important;
    transition: none !important;
  }

  #navigator-toolbox:hover > #PersonalToolbar {
    transition: none !important;
    min-height: var(--tab-min-height) !important;
    max-height: var(--tab-min-height) !important;
  }

  /* 縦タブ最適 */
  :root[uidensity="compact"] #TabsToolbar > .titlebar-buttonbox-container {
    height: 26px !important;
  }

  /* 最大化 */
  #main-window[sizemode="maximized"] #nav-bar {
    border-inline: 0px solid var(--toolbar-bgcolor) !important;
  }
  /* 最大化最適化 */
  #main-window[sizemode="maximized"] #toolbar-menubar ~ #nav-bar {
    border-right-width: calc(36px * 3 + var(--tab-min-height, 0px)) !important;
  }
  /* 最適化 */
  #toolbar-menubar ~ #nav-bar {
    border-inline: var(--tab-min-height, 0px) solid var(--toolbar-bgcolor) !important;
    border-right-width: calc(36px * 3 + var(--tab-min-height, 0px)) !important;
  }
  /* デフォルト */
  #nav-bar {
    border-inline: 0px solid var(--toolbar-bgcolor) !important;
    border-right-width: 0px !important;
  }

  /* sidebar-select-box */
  #sidebar-select-box {
    /* resize: horizontal;
    overflow: auto; */
    border: 0px !important;
    width: var(--sidepanel-icon-height-width) !important;
    max-width: var(--sidepanel-icon-height-width) !important;
    min-width: var(--sidepanel-icon-height-width) !important;
  }

  .sidepanel-icon {
    height: var(--sidepanel-icon-height-width) !important;
    max-height: var(--sidepanel-icon-height-width) !important;
    min-height: var(--sidepanel-icon-height-width) !important;
    margin: 0px !important;
    padding: 2px !important;
    padding-left: 2px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }

  .sidepanel-icon >.toolbarbutton-text {
    display: none !important;
  }

  .toolbarbutton-icon {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  #sidebar2-back, #sidebar2-forward, #sidebar2-reload, #sidebar2-header > spacer {
    display: none !important;
  }

  #sidebar2-header {
    min-height: var(--sidepanel-icon-height-width) !important;
    display: flex !important;
    align-items: flex-end !important;
    justify-content: right !important;
  }

  #sidebar-icon {
    margin: 0px !important;
  }

  .close-icon {
    padding: 2px;
    width: var(--sidepanel-icon-height-width) !important;
    height: var(--sidepanel-icon-height-width) !important;
  }

  #sidebar2 {
    min-width: 0px !important;
  }
}
